---
import Button from '../components/Button.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Prube astro">
	<main>
	</main>


	<div class="bg-white w-11/12 mx-auto py-24 sm:py-32">

		  <div class="grid grid-cols-1 items-center gap-x-8 gap-y-16 lg:grid-cols-2">
			<div class="mx-auto w-full max-w-xl lg:mx-0">
			  <h2 class="text-3xl font-bold tracking-tight text-gray-900">Trusted by the most innovative teams</h2>
			  <p class="mt-6 text-lg leading-8 text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, egestas tempus tellus etiam sed. Quam a scelerisque amet ullamcorper eu enim et fermentum, augue.</p>
			  <div class="mt-8 flex items-center gap-x-6">
				
				<Button>See Brands</Button>
			  </div>
			</div>
			<div class="mx-auto grid w-full max-w-xl grid-cols-2 items-center gap-y-12 sm:gap-y-14 lg:mx-0 lg:max-w-none lg:pl-8">
			  <img class="max-h-12 w-full object-contain object-left" src="https://tailwindui.com/img/logos/tuple-logo-gray-900.svg" alt="Tuple" width="105" height="48">
			  <img class="max-h-12 w-full object-contain object-left" src="https://tailwindui.com/img/logos/reform-logo-gray-900.svg" alt="Reform" width="104" height="48">
			  <img class="max-h-12 w-full object-contain object-left" src="https://tailwindui.com/img/logos/savvycal-logo-gray-900.svg" alt="SavvyCal" width="140" height="48">
			  <img class="max-h-12 w-full object-contain object-left" src="https://tailwindui.com/img/logos/laravel-logo-gray-900.svg" alt="Laravel" width="136" height="48">
			  <img class="max-h-12 w-full object-contain object-left" src="https://tailwindui.com/img/logos/transistor-logo-gray-900.svg" alt="Transistor" width="158" height="48">
			  <img class="max-h-12 w-full object-contain object-left" src="https://tailwindui.com/img/logos/statamic-logo-gray-900.svg" alt="Statamic" width="147" height="48">
			</div>
		  </div>

	  </div>

</Layout>
