---
import Breadcrumbs from "../components/Breadcrumbs.astro";
import Card from "../components/Card.astro";
import Pagination from "../components/Pagination.astro";
import Layout from "../layouts/Layout.astro";

---
<Layout title="">
  <div class="w-11/12 mx-auto overflow-hidden">
    <Breadcrumbs  />
      <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2  lg:grid-cols-3 lg:gap-x-8">
        <Card ></Card>
      </div>
    </div>
    <Pagination />
</Layout>