---
import Breadcrumbs from "../components/Breadcrumbs.astro";
import Button from "../components/Button.astro";
import Pagination from "../components/Pagination.astro";
import Layout from "../layouts/Layout.astro";


---
<Layout title="">
  
  <div class="w-11/12 mx-auto">
    <Breadcrumbs  />
  <div class="">
    <div class="lg:grid lg:grid-cols-12 lg:gap-4 xl:border-0 lg:border-0">  
      <div transition:name="producto" class="lg:col-span-6 hero-3 bg-cover  bg-centerrounded-2xl">
        <figure class=" border border-gray-200 rounded-2xl">
          <img class="rounded-2xl" src="https://tailwindui.com/img/ecommerce-images/category-page-07-product-03.jpg" alt="">
        </figure>
      </div>

      <div class="mt-4 lg:mt-0 lg:col-span-6 lg:pb-2 lg:px-4">
        <div>
          <div class="flex justify-between items-end mb-2">
            <div class="w-12 h-10">
              <figure>
                <img src="https://www.parkmotors.pe/assets/icons/logo-liquimoly.svg" alt="">
              </figure>
            </div>
            <div class="flex items-center dot-stock">
              <p class="text-green-500 ml-2">En stock</p>
            </div>
          </div>
          <div>
            <div><h1 class="text-4xl font-semibold">Liqui Moly Top Tec 4300 5W-30</h1></div>
            <div><p class="text-gray-400">SKU: PM-93909234099</p></div>
          </div>
        </div>


        <div class="mt-20">
          <div>
            <p class="font-bold">¿En qué presentación?</p>
            <div class="mt-2">
              <select class="border-none w-full md:max-w-sm py-4 pl-8 rounded-2xl bg-gray-100  lg:max-w-sm">
                <option value="">1 Litro</option>
                <option value="">4 Litros</option>
                <option value="">5 Litros</option>
            </select>
            </div>

          </div>
          <div class="mt-32 border-b border-gray-200 pb-2">
            <p class="font-bold text-4xl text-blue-600">S/ 278</p>
            <p class="text-gray-400">Inc. IGV</p>
          </div>

        </div>
        <div class="sm:flex mt-4 items-center">
          <div class="flex items-center sm:mr-12 mb-4 sm:mb-0">
            <div class="flex bg-gray-100 p-3 rounded-2xl w-12 h-12 mr-4">
                <figure class="flex item justify-center">
                    <img class="w-full" src="https://www.parkmotors.pe/assets/icons/icon-minus-gray.svg" alt="">
                </figure>
            </div>
            <p class="font-bold text-lg">1</p>
            <div class="flex bg-gray-100 p-3 rounded-2xl w-12 h-12 ml-4">
                <figure class="flex item justify-center">
                    <img class="w-full" src="https://www.parkmotors.pe/assets/icons/icon-more-gray.svg" alt="">
                </figure>
            </div>
          </div>
          <div>
            <Button>AGREGAR AL CARRITO</Button>
          </div>
        </div>
        <div class="mt-10 flex">
          <div class="mr-12"><p>Ver ficha técnica</p></div>
          <div><p>Envío a todo el Perú</p></div>
        </div>


      </div>


      
    </div>


<!--     <div>

    </div>
    <div>
      <div class="auto">
        <div><p>Logo Marca</p></div>
        <div>En Stock</div>
      </div>
      <div></div>
      <div></div>
    </div> -->

  </div>
  <div >
    <div></div>
    <div></div>
  </div>



</div>

  <div class="w-11/12 mx-auto py-16 sm:py-24 lg:grid lg:max-w-7xl lg:grid-cols-12 lg:gap-x-8 lg:py-32">
    <div class="lg:col-span-4">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">Customer Reviews</h2>

      <div class="mt-3 flex items-center">
        <div>
          <div class="flex items-center">
            <!-- Active: "text-yellow-400", Default: "text-gray-300" -->
            <svg class="h-5 w-5 flex-shrink-0 text-yellow-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
            </svg>
            <svg class="h-5 w-5 flex-shrink-0 text-yellow-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
            </svg>
            <svg class="h-5 w-5 flex-shrink-0 text-yellow-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
            </svg>
            <svg class="h-5 w-5 flex-shrink-0 text-yellow-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
            </svg>
            <svg class="h-5 w-5 flex-shrink-0 text-gray-300" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
            </svg>
          </div>
          <p class="sr-only">4 out of 5 stars</p>
        </div>
        <p class="ml-2 text-sm text-gray-900">Based on 1624 reviews</p>
      </div>

      <div class="mt-6">
        <h3 class="sr-only">Review data</h3>

        <dl class="space-y-3">
          <div class="flex items-center text-sm">
            <dt class="flex flex-1 items-center">
              <p class="w-3 font-medium text-gray-900">5<span class="sr-only"> star reviews</span></p>
              <div aria-hidden="true" class="ml-1 flex flex-1 items-center">
                <svg class="h-5 w-5 flex-shrink-0 text-yellow-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
                </svg>

                <div class="relative ml-3 flex-1">
                  <div class="h-3 rounded-full border border-gray-200 bg-gray-100"></div>
                  <div style="width: calc(1019 / 1624 * 100%)" class="absolute inset-y-0 rounded-full border border-yellow-400 bg-yellow-400"></div>
                </div>
              </div>
            </dt>
            <dd class="ml-3 w-10 text-right text-sm tabular-nums text-gray-900">63%</dd>
          </div>
          <div class="flex items-center text-sm">
            <dt class="flex flex-1 items-center">
              <p class="w-3 font-medium text-gray-900">4<span class="sr-only"> star reviews</span></p>
              <div aria-hidden="true" class="ml-1 flex flex-1 items-center">
                <svg class="h-5 w-5 flex-shrink-0 text-yellow-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
                </svg>

                <div class="relative ml-3 flex-1">
                  <div class="h-3 rounded-full border border-gray-200 bg-gray-100"></div>
                  <div style="width: calc(162 / 1624 * 100%)" class="absolute inset-y-0 rounded-full border border-yellow-400 bg-yellow-400"></div>
                </div>
              </div>
            </dt>
            <dd class="ml-3 w-10 text-right text-sm tabular-nums text-gray-900">10%</dd>
          </div>
          <div class="flex items-center text-sm">
            <dt class="flex flex-1 items-center">
              <p class="w-3 font-medium text-gray-900">3<span class="sr-only"> star reviews</span></p>
              <div aria-hidden="true" class="ml-1 flex flex-1 items-center">
                <svg class="h-5 w-5 flex-shrink-0 text-yellow-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
                </svg>

                <div class="relative ml-3 flex-1">
                  <div class="h-3 rounded-full border border-gray-200 bg-gray-100"></div>
                  <div style="width: calc(97 / 1624 * 100%)" class="absolute inset-y-0 rounded-full border border-yellow-400 bg-yellow-400"></div>
                </div>
              </div>
            </dt>
            <dd class="ml-3 w-10 text-right text-sm tabular-nums text-gray-900">6%</dd>
          </div>
          <div class="flex items-center text-sm">
            <dt class="flex flex-1 items-center">
              <p class="w-3 font-medium text-gray-900">2<span class="sr-only"> star reviews</span></p>
              <div aria-hidden="true" class="ml-1 flex flex-1 items-center">
                <svg class="h-5 w-5 flex-shrink-0 text-yellow-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
                </svg>

                <div class="relative ml-3 flex-1">
                  <div class="h-3 rounded-full border border-gray-200 bg-gray-100"></div>
                  <div style="width: calc(199 / 1624 * 100%)" class="absolute inset-y-0 rounded-full border border-yellow-400 bg-yellow-400"></div>
                </div>
              </div>
            </dt>
            <dd class="ml-3 w-10 text-right text-sm tabular-nums text-gray-900">12%</dd>
          </div>
          <div class="flex items-center text-sm">
            <dt class="flex flex-1 items-center">
              <p class="w-3 font-medium text-gray-900">1<span class="sr-only"> star reviews</span></p>
              <div aria-hidden="true" class="ml-1 flex flex-1 items-center">
                <svg class="h-5 w-5 flex-shrink-0 text-yellow-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
                </svg>

                <div class="relative ml-3 flex-1">
                  <div class="h-3 rounded-full border border-gray-200 bg-gray-100"></div>
                  <div style="width: calc(147 / 1624 * 100%)" class="absolute inset-y-0 rounded-full border border-yellow-400 bg-yellow-400"></div>
                </div>
              </div>
            </dt>
            <dd class="ml-3 w-10 text-right text-sm tabular-nums text-gray-900">9%</dd>
          </div>
        </dl>
      </div>

      <div class="mt-10">
        <h3 class="text-lg font-medium text-gray-900">Share your thoughts</h3>
        <p class="mt-1 text-sm text-gray-600">If you've used this product, share your thoughts with other customers</p>

        <a href="#" class="mt-6 inline-flex w-full items-center justify-center rounded-md border border-gray-300 bg-white px-8 py-2 text-sm font-medium text-gray-900 hover:bg-gray-50 sm:w-auto lg:w-full">Write a review</a>
      </div>
    </div>

    <div class="mt-16 lg:col-span-7 lg:col-start-6 lg:mt-0">
      <h3 class="sr-only">Recent reviews</h3>

      <div class="flow-root">
        <div class="-my-12 divide-y divide-gray-200">
          <div class="py-12">
            <div class="flex items-center">
              <img src="https://images.unsplash.com/photo-1502685104226-ee32379fefbe?ixlib=rb-=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=256&h=256&q=80" alt="Emily Selman." class="h-12 w-12 rounded-full">
              <div class="ml-4">
                <h4 class="text-sm font-bold text-gray-900">Sam Antman</h4>
                <div class="mt-1 flex items-center">
                  <!-- Active: "text-yellow-400", Default: "text-gray-300" -->
                  <svg class="text-yellow-400 h-5 w-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
                  </svg>
                  <svg class="text-yellow-400 h-5 w-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
                  </svg>
                  <svg class="text-yellow-400 h-5 w-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
                  </svg>
                  <svg class="text-yellow-400 h-5 w-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
                  </svg>
                  <svg class="text-yellow-400 h-5 w-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
                  </svg>
                </div>
                <p class="sr-only">5 out of 5 stars</p>
              </div>
            </div>

            <div class="mt-4 space-y-6 text-base italic text-gray-600">
              <p>This product changed my life, I took it on my last vacation and was able to fit an absurd amount of snacks for the many long and hungry flights. I'll definitely buy it again.</p>
            </div>
          </div>

          <!-- More reviews... -->
        </div>
      </div>
    </div>
  </div>

</Layout>


<style>
.dot-stock:before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #10b981;
    border-radius: 5px;
}
</style>
