<button type="submit" class="w-full rounded-2xl border border-transparent bg-blue-600 px-12 py-3 text-base font-semibold text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2">
    <slot />
</button>