---

---

<a transition:name="producto" href="/product" class="group text-sm border border-gray-300 rounded-2xl">
	<div  class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-t-2xl bg-gray-100 group-hover:opacity-75 ">
	  <img src="https://tailwindui.com/img/ecommerce-images/category-page-07-product-03.jpg" alt="Front of satchel with blue canvas body, black straps and handle, drawstring top, and front zipper pouch." class="h-full w-full object-cover object-center">
	</div>
	<div class="px-4 py-4">
		<p class="mt-2 text-gray-800 font-bold">Liqui Moly</p>
		<h3 class=" text-xl">Avid S33</h3>
		<p class="mt-3 text-blue-600 text-2xl font-semibold">S/ 220</p>

	</div>
  </a>