---

---

<li class="flex py-6 sm:py-10 ">
    <div class="flex-shrink-0 bg-gray-50">
      <img src="https://galicianeumaticos.com.uy/wp-content/uploads/2020/10/LiquiMoly-Top-Tec-4100-5W40.png" alt="Front of men&#039;s Basic Tee in sienna." class="h-24 w-24 rounded-md object-cover object-center sm:h-48 sm:w-48">
    </div>

    <div class="ml-4 flex flex-1 flex-col justify-between sm:ml-6">
      <div class="relative pr-9 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:pr-0">
        <div>
          <div class="flex justify-between">
            <h3 class="text-sm">
              <a href="#" class="text-lg text-gray-700 hover:text-gray-800">Synthoil Longtime 0W-30 H8-AGM Group Size 49 900 CCA </a>
            </h3>
          </div>

          <p class="mt-1 text-2xl font-medium text-gray-900">S/ 122</p>
        </div>

        <div class="mt-4 sm:mt-0 sm:pr-9">
          <label for="quantity-0" class="sr-only">Quantity, Basic Tee</label>
          <select id="quantity-0" name="quantity-0" class="max-w-full rounded-md border border-gray-300 py-1.5 text-left text-base font-medium leading-5 text-gray-700 shadow-sm focus:border-blue-500 focus:outline-none focus:ring-1 focus:ring-indigo-500 sm:text-sm">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
          </select>

          <div class="absolute right-0 top-0">
            <button type="button" class="-m-2 inline-flex p-2 bg-red-50 rounded-xl text-gray-400 hover:text-gray-500">
              <span class="sr-only">Remove</span>
              <svg class="h-5 w-5" x="0px" y="0px" viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;">

              <style type="text/css">
                .st0{stroke:#000000;stroke-width:32;stroke-linecap:round;stroke-miterlimit:10;}
                .st1{fill:none;stroke:#EF4444;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;}
                .st2{stroke:#EF4444;stroke-width:1.5;stroke-linecap:round;stroke-miterlimit:10;}
              </style>
              <path class="st0" d="M-243.5-243.5"/>
              <path class="st1" d="M5,4.8l1,16.8c0,1,0.8,1.7,1.7,1.7h9.6c0.9,0,1.6-0.7,1.7-1.7l1-16.8"/>
              <path class="st2" d="M3.3,4.8h18.5"/>
              <path class="st1" d="M8,4.8V3.1c0-0.8,0.6-1.4,1.4-1.4h6c0.8,0,1.4,0.6,1.4,1.4v1.7"/>
              <line class="st1" x1="8.4" y1="7.9" x2="9.2" y2="19.7"/>
              <line class="st1" x1="16.7" y1="7.9" x2="16" y2="19.7"/>
              <line class="st1" x1="12.5" y1="7.9" x2="12.5" y2="19.7"/>
           </svg>
  
            </button>
          </div>
        </div>
      </div>

      <p class="mt-4 flex space-x-2 text-sm text-gray-400">
       SKU: PM-01000123123
      </p>
    </div>
  </li>