---



---


  
<header class="w-11/12 mx-auto flex py-6">
    <a class="w-40 max-w-150">
        <figure>
            <img src="https://www.parkmotors.pe/assets/icons/logoazul.svg" alt="">
        </figure>
    </a>
<!--     <a href="tel:+51924135251">
        <div class="flex">
            <div class="bg-gray-500 p-3 sm:bg-white sm:p-0 rounded-full">
                <figure class="w-7 lg:mr-2">
                    <img src="https://www.parkmotors.pe/assets/icons/headphone.svg" alt="">
                </figure>
            </div>
            <div class="hidden sm:flex">
                <p class="mr-2 ml-2">Más información </p>
                <a class="font-bold text-blue-500">+51 924 135 251</a>
            </div>
        </div>
    </a> -->


</header>    