---
import { ViewTransitions } from 'astro:transitions';
import Header from '../components/Header.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>
<style is:global>

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans');

*{
    font-family: 'Plus Jakarta Sans', sans-serif;
    scroll-behavior: smooth

}
</style>
